body{
    background-color: rgba(245,245,245,.9);
    font-family: 'Be Vietnam', sans-serif;
}

.titulo__h1{

    text-align: center;
    margin: 30px;
    
}

#titulo_principal{
    font-family: 'EB Garamond', serif;
}

.contain__accordion {

    margin-left: 5vw;
    margin-right: 5vw;
    background-color:rgba(230,230,230,.9);
    padding: 30px;
    text-align: center !important;
}

.form__inputs {

    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color:rgba(230,230,230,.9);
    padding: 30px;
    margin-bottom:2vw;
}
.form__inputs2 {

    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color:rgba(230,230,230,.9);
    
}
.contain__inputs{
    width: fit-content;
}

button:focus{
    background-color: rgba(120,120,120,.9)!important;
    color: rgba(240,240,240,.9) !important;
    outline: none;
    
}

#mostrar_datos{
    text-align: center;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  #error {
      display: block;
  }
  button {
      margin-bottom: 1vw;
  }
  input::placeholder {
     text-align: center;
  }
